body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    padding: 20px;
}

#description {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

#description h2 {
    color: #ff9800;
}

#description p {
    font-size: 16px;
    line-height: 1.5;
    color: #d3d3d3;
}

#meal-container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    max-width: 600px;
    margin: auto;
    transition: transform 0.3s ease-in-out;
}

#meal-container:hover {
    transform: scale(1.02);
}

img {
    width: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

img:hover {
    opacity: 0.8;
}

ul {
    text-align: left;
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

li {
    background: #292929;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

button {
    background: #ff9800;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

button:hover {
    background: #e68900;
}

iframe {
    border-radius: 10px;
}
